.Header {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.Header h1 {
  margin-left: 10px;
}

@media (max-width: 675px) {
  .Header h1 {
    font-size: 26px;
  }
}